@import '~node_modules/modern-normalize/modern-normalize.css';
html {
  scroll-behavior: smooth;
}
body {
  color: $black-color;
  background-color: $white-color;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

h1,
h2,
h3,
p,
section {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.link-active {
  position: relative;
  text-decoration: none;
  &::after {
    content: '';
    position: absolute;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 3px;
    background-color: $liner-color;
  }
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 1280px;
  }
}

.notification{
  height: 49vh;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.1;
  text-align: center;
}