// -- Тема день/ночь --
body {
  &.night-mode {
    background-color: $night-background-color;
    .tumbler {
      transform: translateX(calc(100%));
    }
  }
}

.footer {
  &.night-mode {
    background-color: $night-footer-color;
  }
}

.tui-page-btn {
  &.night-mode {
    background-color: $background-color;
    color: black;
  }
}

.wrap {
  position: relative;
}

.tumbler-wrapper {
  right: 25px;
  top: 15px;
  position: absolute;
  width: 50px;
  height: 30px;
  background-color: $black-color;
  border-radius: 30px;
  border: 0.2px solid $grey-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    right: 38px;
    top: 15px;
  }
}

.tumbler {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: $white-color;
  transition: transform 0.5s, background-color 0.5s;
  will-change: transform;
}

.icon-theme {
  fill: #ffeb3b;
}
//
