.icon {
  width: 40px;
  height: 40px;
  fill: $white-color;
  animation: heartBeat infinite;

  &:hover,
  &:focus {
    fill: $accent-color;
  }
}

.logo {
  display: flex;
  align-items: center;
  transition: color 250ms ease-in;

  &:hover {
    color: $liner-color;
  }
}

.header-title {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.17;
  }
}
