.film__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 60px;
}

.film__card {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
}