
.film__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    padding-left: 0;
    @media screen and (min-width:768px) {
        gap: 32px;
         margin-top: 60px;
    }
    @media screen and (min-width:1280px) {
        gap: 16px;
    }
}

.film__card {
    display: block;
    cursor: pointer;
    width: 280px;
    border-radius: 5px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // Dmitriy style
    box-shadow: 0 1px 3px rgb(0 0 0 / 20%), 0 1px 1px rgb(0 0 0 / 14%),
            0 2px 1px -1px rgb(0 0 0 / 12%);

    &:hover,
        &:focus {
            transform: scale(1.01);

            // default style
            // box-shadow: 0px 8px 8px rgba(122, 23, 48, 0.25);

            // Dmitriy style
            box-shadow: 0 3px 7px 3px #6e628cc2, 0 1px 1px #00000024,
                    0 2px 1px -1px #0000001f;
                    cursor: zoom-in;


        }

    @media screen and (min-width:768px) {
        width: 336px;
    }
        
    @media screen and (min-width:1280px) {
        width: 394px;
        &:not(:nth-child(-n + 3)){
            margin-top: 16px;
        }
    }
}

.film__poster {
    display: flex;
    overflow: hidden;
    background-repeat: no-repeat;
    border-radius: 5px;
    height: 398px;
    
    
    @media screen and (min-width:768px) {
        height: 455px;
    }
    @media screen and (min-width:1280px) {
        height: 574px;
    }

    
}

.film__image {

    width: 100%;

}

.film__info {
    margin-top: 10px;
}

.film__title-main {
    margin-left: 5px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    
    color: #000000;

    @media screen and (max-width:320px) {
        line-height: 1.17;
    }
    @media screen and (min-width:768px) {
        line-height: 1.33;
    }
        
    @media screen and (min-width:1280px) {
        font-size: 20px;
        line-height: 1.20;
    }
}

.film__ganre {
    margin-left: 5px;
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #FF6B08;

    // @media screen and (max-width:320px) {
    //     font-size: 12px;
    //     line-height: 1.33;
    // }
    
    @media screen and (min-width:1280px) {
        font-size: 20px;
        line-height: 1.20;
    }
}