.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 9999;
    overflow-y: scroll;
}

.backdrop.backdrop--is-hidden {
    opacity: 0;
    pointer-events: none;
}

.backdrop__modal {
    padding: 40px;
    min-height: 581px;
    background-color: $white-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    @media screen and (max-width:1199px) {
        max-width: 450px;
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        max-width: 528px;
        width: 100%;

    }
}