ul {
  margin: 0;
  padding: 0;
}

.modal__button {
  position: absolute;
  top: 16px;
  right: 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: #000000;
  border: none;
  background-color: #fff;
}

.modal__icon {
  color: #000000;
  width: 14px;
  height: 14px;
  fill: currentColor;
}

.modal__container {
  height: 100%;
  overflow: auto;

  @include mq(tablet) {
    display: flex;
    justify-content: center;
  }
}

.modal__image-container {
  width: 240px;
  margin-bottom: 20px;

  @include mq(tablet) {
    width: 264px;
    margin-right: 68px;
  }

  @include mq(desktop) {
    width: 375px;
    margin-right: 16px;
  }
}

.modal__image {
  width: 240px;
  border-radius: 4px;
  object-fit: cover;

  @include mq(tablet) {
    width: 264px;
  }

  @include mq(desktop) {
    width: 375px;
  }
}

.film__title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 20px;

  @include mq(desktop) {
    font-size: 30px;
    line-height: 1.17;
  }
}

.film__item {
  display: flex;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.film-modal__list {
  margin-bottom: 20;
}

.film__details {
  width: 108px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  color: #8c8c8c;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.upper {
  text-transform: uppercase;
}

.film__value-count {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
}

.film__rating--orange {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0;
  text-align: center;
  background-color: #ff6b01;
  color: #fff;
  padding: 1px 10px;
  border-radius: 5px;
}

.film__rating--slash {
  width: 8px;
  height: 16px;
  color: #8c8c8c;
  margin-left: 1px;
  margin-right: 7px;
}

.vote-count {
  background-color: #f7f7f7;
  padding: 1px 4px;
  border-radius: 5px;
}

.film-about__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 8px;
}

.film-about-text__wrapper {
  height: 100px;
  overflow-y: scroll;
  margin-bottom: 20px;
  }

.film-about__text {
  width: 240px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 26px;
  padding-right: 5px;

  @include mq(tablet) {
    width: 264px;
  }

  @include mq(desktop) {
    width: 391px;
  }
}

.film-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-right: 5px;
}

.film-button {
  width: 110px;
  height: 44px;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: center;
  background-color: transparent;
  border: 1px solid #000000;
  border-radius: 5px;
  text-transform: uppercase;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 200ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover {
    background-color: #ff6b01;
    color: #fff;
    border: none;
  }

  @include mq(tablet) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 136px;
  }
}
