// ---pagination---
#my-pagination .tui-pagination {
  margin: 60px 0;
}

#my-pagination .tui-page-btn {
  color: $black-color;
  border-radius: 20%;
  width: 40px;
  border-width: 0;
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
}

#my-pagination .tui-is-selected {
  background: $accent-color;
  border-color: $accent-color;
  color: $white-color;
  padding: 13px 0 13px;
}

#my-pagination .tui-next,
#my-pagination .tui-prev {
  background: $footer-color;
  height: 40px;
  color: $black-color;
  padding: 8px 0 8px;
}

#pagination > span.tui-prev,
#pagination > a.tui-next {
  &.night-mode {
    background-color: $grey-color;
  }
}

#my-pagination .tui-page-btn {
  &.night-mode {
    background-color: $night-title;
  }
}

#my-pagination .tui-is-selected {
  background: $accent-color;
  border-color: $accent-color;
  color: $white-color;
}
