$white-color: #ffffff;
$black-color: #000000;
$accent-color: #ff6b01;
$liner-color: #ff001b;
$grey-color: #545454;
$background-color: #e5e5e5;
$footer-color: #f7f7f7;
$night-background-color: #444040;
$night-footer-color: #1b1919;
$night-title: #b4b4b4;
