<!--SIGH UP-->
<div class="backdrop is-hidden" data-reg-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-reg-modal-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Registration</h2>
      <form class="online-form modal-form">
        <div class="form-field">
          <input
            type="text"
            name="name"
            id="name-reg"
            class="modal-form-input"
            placeholder=" "
            required
          />
          <label class="form-label">Name</label>
        </div>
        <div class="form-field">
          <input
            type="text"
            name="email"
            id="email-reg"
            class="modal-form-input"
            placeholder=" "
            required
          />
          <label class="form-label">Email</label>
        </div>
        <div class="form-field">
          <input
            type="password"
            name="password"
            id="password-reg"
            class="modal-form-input"
            placeholder=" "
            required
          />
          <label class="form-label">Password</label>
        </div>
        <button type="button" class="fb-modal-btn" id="sighup-modal">
          sign up
        </button>
      </form>
    </div>
  </div>
</div>

<!--SIGH IN-->
<div class="backdrop is-hidden" data-auth-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-auth-modal-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Authorization</h2>
      <form class="online-form modal-form">
        <div class="form-field">
          <input
            type="text"
            name="email"
            id="email-auth"
            class="modal-form-input"
            placeholder=" "
            required
          />
          <label class="form-label">Email</label>
        </div>
        <div class="form-field">
          <input
            type="password"
            name="password"
            id="password-auth"
            class="modal-form-input"
            placeholder=" "
            required
          />
          <label class="form-label">Password</label>
        </div>
        <button type="button" class="fb-modal-btn" id="sighin-modal">
          Sign in
        </button>
      </form>
    </div>
  </div>
</div>
