<!--SIGH UP-->
<div class="backdrop is-hidden" data-reg-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-reg-modal-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title main-title">Registration</h2>
      <form class="online-form modal-form">
        <div class="form-field">
          <input
            type="text"
            name="email"
            id="email-reg"
            class="modal-form-input"
            placeholder="Email"
            required
          />
          <label for="modal-name" class="form-label">Email</label>
        </div>
        <div class="form-field">
          <input
            type="password"
            name="password"
            id="password-reg"
            class="modal-form-input"
            placeholder="Password"
            required
          />
          <label for="modal-tel" class="form-label">Password</label>
        </div>
        <button type="button" class="button" id="sighup-modal">sigh up</button>
      </form>
    </div>
  </div>
</div>

<!--SIGH IN-->
<div class="backdrop is-hidden" data-auth-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-auth-modal-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title main-title">Registration</h2>
      <form class="online-form modal-form">
        <div class="form-field">
          <input
            type="text"
            name="email"
            id="email-auth"
            class="modal-form-input"
            placeholder="Email"
            required
          />
          <label for="modal-name" class="form-label">Email</label>
        </div>
        <div class="form-field">
          <input
            type="password"
            name="password"
            id="password-auth"
            class="modal-form-input"
            placeholder="Password"
            required
          />
          <label for="modal-tel" class="form-label">Password</label>
        </div>
        <button type="button" class="button" id="sighin-modal">Sigh in</button>
      </form>
    </div>
  </div>
</div>
