<header class="header">
  <div class="container">
    <div class="header-nav">
      <a class="logo link" href="/src/index.html"
        ><svg class="icon animate__animated">
          <use href="./images/symbol-defs.svg#icon-film"></use>
        </svg>
        <span class="header-title">Filmoteka</span></a
      >

      <nav>
        <ul class="menu">
          <li class="list menu-list">
            <a class="link-active link" href="">home</a>
          </li>
          <li class="list"><a class="link" href="">my library</a></li>
        </ul>
      </nav>
    </div>

    <div class="form-field">
      <input
        class="input-field"
        type="text"
        name="search"
        id="name"
        placeholder="Movie search"
      />
      <button class="btn-search">
        <svg class="icon-search">
          <use href="./images/symbol-defs.svg#icon-search"></use>
        </svg>
      </button>
    </div>
  </div>
</header>
