<div class="backdrop backdrop--is-hidden" data-modal>
  <div class="backdrop__modal">
    <button class="modal__button" type="button" data-modal-close>
      <svg width="14" height="14" class="modal__icon">
        <use href="./images/close.svg#close"></use>
      </svg>
    </button>
    <div class="modal__container"></div>
  </div>
</div>

<!-- <div class="modal__image-container">
        <img
          class="modal__image"
          src="./images/Rectangle 18.png"
          alt="Poster"
        />
      </div>
      <div class="film__info">
        <h2 class="film__title">A FISTFUL OF LEAD</h2>
        <ul class="film-modal__list">
          <li class="film__item">
            <p class="film__details">Vote / Votes</p>
            <p class="film__value-count">
              <span class="film__rating--orange">7.3</span>
              <span class="film__rating--slash"> / </span>
              <span class="vote-count">1260</span>
            </p>
          </li>
          <li class="film__item">
            <p class="film__details">Popularity</p>
            <p class="film__value-count">100.2</p>
          </li>
          <li class="film__item">
            <p class="film__details">Original title</p>
            <p class="film__value upper">a fistful of lead</p>
          </li>
          <li class="film__item">
            <p class="film__details">Genre</p>
            <p class="film__value">Western</p>
          </li>
        </ul>
        <h3 class="film-about__title">About</h3>
        <div class="film-about-text__wrapper">
          <p class="film-about__text">
            Four of the West's most infamous outlaws assemble to steal a huge
            stash of gold from the most corrupt settlement of the gold rush
            towns. But not all goes to plan one is killed and the other three
            escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another
          </p>
        </div>
        <div class="film-btn__wrapper">
          <button class="film-button" type="button">add to Watched</button>
          <button class="film-button" type="button">add to queue</button>
        </div>
      </div> -->
