<section class="pagination">
    <!-- <h2 class="visually-hidden">Pages</h2> -->
    <div class="pagination-section container">
  
      <!-- <div id="pagination" class="tui-pagination pagination-custom"></div> -->
      <!-- <div id="pagination-mobile" class="tui-pagination pagination-custom pagination-mobile"></div>
      <div id="pagination-tablet" class="tui-pagination pagination-custom pagination-tablet"></div> -->
      <div id="pagination" class="pagination-custom tui-pagination">
        <span class="tui-page-btn tui-is-disabled tui-first custom-class-first">
          <span class="tui-ico-first">first</span>
        </span>
          <span class="tui-page-btn tui-is-disabled tui-prev custom-class-prev">
            <span class="tui-ico-prev">prev</span>
          </span>
          <strong class="tui-page-btn tui-is-selected tui-first-child">1</strong>
          <a href="#" class="tui-page-btn">2</a>
          <a href="#" class="tui-page-btn">3</a>
          <a href="#" class="tui-page-btn">4</a>
          <a href="#" class="tui-page-btn">5</a>
          <a href="#" class="tui-page-btn tui-next-is-ellip custom-class-next tui-last-child">
            <span class="tui-ico-ellip">...</span>
          </a>
            <a href="#" class="tui-page-btn tui-next custom-class-next">
              <span class="tui-ico-next">next</span>
            </a>
              <a href="#" class="tui-page-btn tui-last custom-class-last">
                <span class="tui-ico-last">last</span>
              </a>
      </div>
    </div>
  </section>