<div class="backdrop is-hidden" data-team-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-team-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Our team</h2>
      <div class="team-box">
        <div class="team-person">
          <img src="/src/images/team/artem.jpeg" alt="Artem" />
          <p>Artem <br />Oliynyk</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/dmytro.jpeg" alt="Dmytro" />
          <p>Dmytro <br />Golombytsa</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/karyna.jpeg" alt="Karyna" />
          <p>Karyna <br />Borysenko</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/katia.jpg" alt="Katia" />
          <p>Katia <br />Berehovych</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/luidmyla.jfif" alt="luidmyla" />
          <p>Liudmyla <br />Bolotova</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/nikita.jpeg" alt="nikita" />
          <p>Nikita <br />Sokolov</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/oleksiy.jpeg" alt="oleksiy" />
          <p>Oleksiy <br />Yermak</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/roma.jpg" alt="roma" />
          <p>Roma <br />Falin</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/sasha.jpeg" alt="sasha" />
          <p>Oleksandr <br />Veremchuk</p>
        </div>
        <div class="team-person">
          <img src="/src/images/team/taras.jpeg" alt="taras" />
          <p>Taras <br />Maltsev</p>
        </div>
      </div>
    </div>
  </div>
</div>
