<div class="backdrop is-hidden" data-team-modal>
  <div class="modal">
    <div class="modal-box">
      <button class="button-modal" type="button" data-team-close>
        <svg class="button-modal-icon">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <h2 class="modal-title">Our team</h2>
      <div>
        <img src="/src/images/team/artem.jpeg" alt="Artem" />
        <p>Artem</p>
      </div>
      <div>
        <img src="/src/images/team/dmytro.jpeg" alt="Dmytro" />
        <p>Dmytro Golombytsa</p>
      </div>
      <div>
        <img src="/src/images/team/karyna.jpeg" alt="Karyna" />
        <p>Karyna Borysenko</p>
      </div>
      <div>
        <img src="/src/images/team/katia.jpg" alt="Katia" />
        <p>Katia Berehovych</p>
      </div>
      <div>
        <img src="/src/images/team/luidmyla.jfif" alt="luidmyla" />
        <p>Liudmyla Bolotova</p>
      </div>
      <div>
        <img src="/src/images/team/nikita.jpeg" alt="nikita" />
        <p>Nikita Sokolov</p>
      </div>
      <div>
        <img src="/src/images/team/oleksiy.jpeg" alt="oleksiy" />
        <p>Oleksiy Yermak</p>
      </div>
      <div>
        <img src="/src/images/team/roma.jpg" alt="roma" />
        <p>Roma Falin</p>
      </div>
      <div>
        <img src="/src/images/team/sasha.jpeg" alt="sasha" />
        <p>Oleksandr Veremchuk</p>
      </div>
      <div>
        <img src="/src/images/team/taras.jpeg" alt="taras" />
        <p>Taras Maltsev</p>
      </div>
    </div>
  </div>
</div>
